@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}

/* ---------------------NAVBAR STYLES-------------------- */

@keyframes NavbarHoverEffect {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.navMenu {
  position: relative;
  background: transparent;
  overflow: hidden;
}

.navMenu::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(270deg, #0F4359, #1a8469, #0F4359);
  background-size: 300% 300%;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 0;
}

.navMenu:hover::before {
  opacity: 1;
  animation: NavbarHoverEffect 3s ease infinite;
}

.navMenu>* {
  position: relative;
  z-index: 1;
}

/* ---------------------GLOWING IMAGE STYLES-------------------- */

@keyframes spinRing {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.imgRing {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 9999px;
  padding: 2px;
  display: inline-block;
}

.imgRing::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 9999px;
  background: conic-gradient(from 0deg,
      #0B4F4A,
      #83e0cd,
      #4fbda7,
      #0B4F4A);

  filter: blur(10px);
  animation: spinRing 4s linear infinite;
  z-index: 0;
}

.imgInner {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


/* ---------------------CUSTOM CLASSES-------------------- */

@layer components {
  .navIcon {
    @apply rounded-full text-2xl p-2 shadow-md transition-all ease-in-out;
  }

  .navMenu {
    @apply shadow-sm shadow-teal-700 active:bg-teal-800 active:text-teal-100 active:shadow-teal-300 flex flex-row items-center justify-start gap-3 rounded-full p-3 transition-all duration-300 hover:text-teal-200;
  }

}